# Books (PDF files)
wwwroot/BookCatalog/*

# Node.js modules
ClientApp/node_modules

# Database
*.db

# Migrations
Migrations/

# Visual Studio solution
*.sln

# I don't know why but smart people from Stack Overflow sad that I must ignore this directories
bin
obj
node_modules