body {
    margin: 0;
}


main,
nav {
    padding: 0 15%;
}


.text-center {
    text-align: center;
}

.text-big {
    font-size: 7em;
}


a[href] {
    text-decoration: none !important;
}


.flex {
    display: flex;

    align-content: center;
    align-items: center;
}
.flex.center {
    justify-content: center;
}
.flex.space-between {
    justify-content: space-between;
}


table {
    border-bottom: 1px solid black;
    border-collapse: collapse;
}
table tr {
    display: inline-grid;
    grid-template-columns: 25% 25% 50%;

    border-top: 1px solid black;
    border-left: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}
table.all-width {
    width: 100%;
}
table td,
table th {
    display: flex;

    padding: 30px 60px;

    border-right: 1px solid black;
    border-collapse: collapse;

    justify-content: left;
    align-items: center;
}
table th {
    font-size: 1.5em;
}
table tr td:not(:last-child) {
    font-size: 1.2em;
}


.tm {
    margin-top: 10px;
}
.rm {
    margin-right: 10px;
}
.bm {
    margin-bottom: 10px;
}
.lm {
    margin-left: 10px;
}
.am {
    margin: 10px;
}

a.button,
button {
    display: inline-flex;

    justify-content: center;

    min-width: 60px;

    padding: 15px 20px;

    border: 1px solid black;
    border-radius: 3px;

    color: black;

    text-decoration: none !important;

    cursor: pointer;

    transition: .3s;
}
button:hover,
a.button:hover {
    background-color: black;
    color: white;

    transform: scale(1.1);
}
button.red,
a.button.red {
    border-color: red;
    color: red;
}
button.red:hover,
a.button.red:hover {
    background-color: red;
    color: white;
}
button.green,
a.button.green {
    border-color: green;
    color: green;
}
button.green:hover,
a.button.green:hover {
    background-color: green;
    color: white;
}
button.blue,
a.button.blue {
    border-color: blue;
    color: blue;
}
button.blue:hover,
a.button.blue:hover {
    background-color: blue;
    color: white;
}

iframe {
    position: absolute;

    right: 18%;
    top: 10%;

    width: 45%;
    height: 85%;

    border: none;
}